<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>WDI Project 2</title>
  <% include ./partials/_stylesheets.ejs %>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js" charset="utf-8"></script>
  <script src="https://use.fontawesome.com/1b472161ea.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_ld5KVgbsxPAe90D4MOBw25PF84A1-BI"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/js/app.js" charset="utf-8"></script>
</head>
<body>

  <% include ./partials/_navbar %>
  <main class="container">
    <% for(const type in messages) { %>
      <p class="alert alert-<%= type %>"><%= messages[type] %></p>
      <% } %>
      <%- body %>
    </main>

  </body>

  <% include ./partials/_scripts.ejs %>
  </html>
