<div class="jumbotron">
  <h1 class="display-4">Never miss a match!</h1>
  <p class="lead">AwayGame is a free service, helping you locate the best bars in Barcelona showing English Premiership games.</p>
  <hr class="my-4">
  <p class="who-search">Who do you want to watch?</p>
  <form class="form-inline my-2 my-lg-0" action="/search" method="GET">
    <input name="homeTeam" class="form-control mr-sm-2" type="search" placeholder="Search by team" aria-label="Search">
    <button class="btn btn-primary" type="submit">Search</button>
  </form>
</div>

  <div class="row front-page">
    <div class="card bg-light mb-3" style="max-width: 20rem; min-height: 15rem">
    <div class="card-header">Discover</div>
    <div class="card-body">
      <h5 class="card-title">Find the best bars</h5>
      <p class="card-text">View a list of all the bars in Barcelona showing EPL football. Find the one closest to you.</p>
      <a href="/bars" class="btn btn-outline-primary my-2 my-sm-0">View bars</a>
    </div>
  </div>
  <div class="card bg-light mb-3" style="max-width: 20rem;">
    <div class="card-header">Review</div>
    <div class="card-body">
      <h5 class="card-title">Rate your experience</h5>
      <p class="card-text">Registering is quick and easy. Let other viewers know your thoughts on each bar.</p>
      <a href="/register" class="btn btn-outline-primary my-2 my-sm-0">Register</a>
    </div>
  </div>
  <div class="card bg-light mb-3" style="max-width: 20rem;">
    <div class="card-header">Advertise</div>
    <div class="card-body">
      <h5 class="card-title">List your bar for free</h5>
      <p class="card-text">Sign up to enable potential customers to see which EPL games you are showing.</p>
      <a href="/register" class="btn btn-outline-primary my-2 my-sm-0">Register</a>
    </div>
  </div>
</div>









<nav class="navbar fixed-bottom navbar-light footer">
  <a class="navbar-brand" href="#"></a>
</nav>
