.main-button {
  background-color: #8D80AD;
  border: 1px solid #8D80AD;
  color: white;
  // width: 150px;
}

.main-button-outline {
  background-color: transparent;
  border: 1px solid #8D80AD;
  color: #8D80AD;
  // width: 150px;
}
