div {
  &.jumbotron {
    background: #C9E9FB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #21EFA7, #C9E9FB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #21EFA7, #C9E9FB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: light;
    .jumbotron-inner-container {
      margin: 0 auto;
      width: 80%;
    }
    h2 {
      &.banner-title {
        font-size: 60px;
      }
    }
    hr {
      border-top: 1px solid white;
    }
    .who-search {
      color: white;
    }
    .main-button {
      width: 150px;
    }
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  .card {
    margin: 0 auto;
    width: 350px;
    .card-body {
      min-height: 75px;
      text-align: center;
    }
    .card-header {
      background-color: #21EFA7;
      color: white;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
    }
    .card-text {
      color: grey;
      min-height: 80px;
      text-align: justify;
    }
    .main-button-outline {
      width: 150px;
    }
  }
}

@media only screen and (max-width: 1150px) {

  .jumbotron-inner-container {
    p {
      &.lead {
        font-size: 20px;
        width: 80%;
      }
    }
  }

  .card-container {
    width: 800px;
    .card {
      margin: 0 auto;
      width: 350px;
      .card-body {
        min-height: 75px;
        text-align: center;
      }
      .card-text {
        color: grey;
        min-height: 80px;
        text-align: justify;
      }
    }
  }
}

@media only screen and (max-width: 900px) {

  .jumbotron {
    height: 300px;
    padding-top: 30px;
    div {
      &.jumbotron-inner-container {
        width: 90%;
        h2 {
          &.banner-title {
            margin-bottom: 0px;
            margin-top: 0px;
          }
        }
        p {
          &.lead {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 640px) {

  div {
    &.jumbotron {
      height: 200px;
      .jumbotron-inner-container {
        margin: 0 auto;
        width: 80%;
      }
      h2 {
        &.banner-title {
          display: none;
        }
      }
      hr {
        &.my-4 {
          display: none;
        }
      }
      .who-search {
        color: white;
      }
    }
  }
}
