// import scss partials here
@import "navbar";
@import "index";
@import "barsIndex";
@import "barShow";

body {
  font-family: 'Open Sans', sans-serif;
}



img {
  height: 350px;
  max-width: 400px;
  padding: 0px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

nav {
  background-color: #C7E5DB;
}

.addressInfo {
  color: black;
  font-size: 14px;
  span {
    font-size: inherit;
  }
  h4 {
    color:inherit;
    font-size: inherit;
  }
}

h3 {
  margin-top: 30px;
  margin-bottom: 15px;
}

.bar-information {
  margin-top: 40px;
  margin-bottom: 40px;
}

.bar-images {

}



// .btn {
//   color: #95B8D1;
//   border-color: #95B8D1;
// }



.competition {
  text-align: center;
}

.date {
  color: grey;
  font-size: 12px;
}



.edit-delete {
  display: inline-block;
  margin-left: 14px;
  margin-right: 30px;
  width: 200px;
}

.footer {
  height: 60px;
}

.front-page {
  display: flex;
  justify-content: space-between;
}


.link {
  color: grey;
  font-size: 15px;
  text-transform: uppercase;
}

.team {
  font-size: 20px;
  text-align: center;
}

.main-search {
  color: white;
  background-color: #8CAAA2;
  border-color: white;
}

.match-info {
  color: grey;
}

.match-title {
  margin-top: 10px;
  margin-bottom: 0px;
}

.single-match {
  padding: 1rem 2rem;
}

.username-box {
  background-color: #8CAAA2;
  border-radius: 3px;
  color:white;
  margin-left: 15px;
}

.content-box {
  border: 1px solid grey;
  border-radius: 3px;
  margin-left: 15px;
  min-height: 150px;
}

.empty {
  color: white;
  min-height: 150px;
}

.review-content {
  margin-bottom: 80px;
}

.delete-button {
  margin-left: -15px;
  margin-top: 60px;
}

.write-review {
  margin-left: 15px;
  margin-top: 20px;
}

.review-row {
  margin-top: 15px;
  margin-bottom: 15px;
}




.navbar {
  background: #C7E5DB;
  color: grey;
}



#review-username {
  padding-top: 15px;
}

#content {
  padding-top: 15px;
}
