// import scss partials here
body {
  font-family: 'Helvetica', sans-serif;
}

img {
  height: 400px;
  max-width: 500px;
}

.bar-thumbnail {
  height: 200px;
  margin-top: 15px;
}

.card {
  margin: 20px;
}

.card-body {
  height: 75px;
}
