<div class="container">
  <h2>Bars</h2>
  <div class="row">
      <% bars.forEach((bar) => { %>
        <div class="card col-lg-3">
          <img class="card-img-top bar-thumbnail" src="<%= bar.imageOne %>" alt="<%= bar.name %>">
          <div class="card-body">
            <a href="/bars/<%= bar.id %>"><h4> <%= bar.name %> </h4></a>
          </div>
        </div>
      <% }); %>
  </div>
</div>
