<div class="container">
  <div class="grid-container">
    <div class="row bar-index">
        <% bars.forEach((bar) => { %>

<a href="/bars/<%= bar.id %>" class="index-link">
          <div class="card bar-card">
            <img class="card-img-top bar-thumbnail" src="<%= bar.imageOne %>" alt="Card image cap">
            <div class="card-body bar-card-content">
              <h5 class="card-title"><%= bar.name %></h5>

            </div>
          </div>
        </a>


        <% }); %>
    </div>
  </div>


</div>
